#header {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 100;
}

.toggle {
  display: none;
}

.burger {
  position: absolute;
  right: 0;
  color: white;
  margin-right: 20px;
  margin-top: 20px;
  height: 20px;
}

.burger:hover {
  cursor: pointer;
}

nav {
  padding-top: 60px;
}

nav ul {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  left: -100vw;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  text-align: center;
  width: 100vw;
  height: 50px;
  padding-top: 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: ease-in 0.5s;
}
nav a:hover {
  border-bottom: 1px solid white;
}

.toggle:checked ~ nav ul {
  left: 0;
}

.img {
  margin-top: 60px;
  width: 100vw;
  height: auto;
}

@media only screen and (min-width: 768px) {
  nav {
    all: unset;
  }

  nav ul {
    all: unset;
    position: fixed;
    display: flex;
    right: 0;
  }

  nav li {
    all: unset;
    padding: 2vw;
  }

  .burger {
    display: none;
  }
}
#footer {
  width: 100vw;
  height: 150px;
  background-color: black;
  justify-content: center;
  margin-top: 20px;
}

.info {
  text-align: center;
  padding-top: 50px;
}

.fab {
  font-size: 40px;
  margin: 5px;
  border-bottom: 2px solid black;
  border-radius: 3px;
  box-shadow: 0px 12px 20px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 12px 20px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 12px 20px 0px rgba(255, 255, 255, 0.5);
  transform: rotateX(-50deg);
  transition: all 0.3s;
}

.fab:hover {
  cursor: pointer;
  transform: rotateX(0deg);
  border-radius: 0;
  box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.5);
}

.fb {
  color: #3b5998;
}

.twitter {
  color: #00acee;
}

.linkedin {
  color: #0e76a8;
}

.insta {
  color: white;
}

footer p {
  color: white;
  text-align: center;
  font-size: small;
  padding: 20px 20px 0 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

iframe {
  display: flex;
  border-radius: 5px;
  margin: 10px auto;
  width: 300px;
  height: 200px;
}

.position {
  text-align: center;
  padding: 20px;
}

.btn {
  width: 120px;
  height: 30px;
  font-weight: bold;
  background-color: white;
  color: #ffa626;
  border: 2px solid #ffa626;
  border-radius: 5px;
  transition: all 0.5s;
}

.btn:hover {
  filter: drop-shadow(0 0 0.5rem #ffa626);
  cursor: pointer;
  background-color: #ffa626;
  color: white;
}

.text-evenements {
  text-align: center;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}

.text-festival {
  text-align: center;
}

.img-evenements {
  width: 70vw;
  max-width: 600px;
  display: flex;
  margin: auto;
  border-radius: 5px;
}

.festival2019 {
  margin-top: 20px;
}

.section {
  width: 100vw;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 15px;
}

h1 {
  padding-top: 20px;
}

p {
  padding: 20px;
}

li {
  list-style: none;
  text-align: center;
}

.position1, .position2 {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  iframe {
    width: 500px;
    height: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .section {
    width: 80vw;
    margin: 0 auto;
  }

  iframe {
    width: 600px;
    height: 400px;
  }
}
@media only screen and (min-width: 1440px) {
  .section {
    width: 60vw;
  }
}/*# sourceMappingURL=evenements.css.map */