@import './layout/header';
@import './layout/footer';
*
{
  margin: 0;
  padding: 0;
}
body
{
  overflow-x: hidden;
}

                                    /* article */
.img
{
  width: 100vw;
  height: auto;
}
.img-presentation
{
  width: 70vw;
  max-width: 500px;
  display: flex;
  margin: auto;
  border-radius: 5px;
}
.section
{
  width: 100vw;
}
h2, h3
{
  text-align: center;
}


@media only screen and (min-width: 768px){
 
  .section
  {
    display: flex;
  }
  p
  {
    flex-direction: column;
  }
}