#header
{
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 100;
}
.toggle
{
  display: none;
}
.burger
{
  position: absolute;
  right: 0;
  color: white;
  margin-right: 20px;
  margin-top: 20px;
  height: 20px;
  transition: all 0.2s;
}
.burger:hover
{
  cursor: pointer;
  color: orange;
}
nav
{
    padding-top: 60px;
}
nav ul
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:black;
    left: -100vw;
    transition: all 0.2s;
    margin: 0;
    padding: 0;
}

nav li
{
    list-style: none;
    text-align: center;
    width: 100vw;
    height: 50px;
    padding-top: 20px;  
}
nav a
{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: ease-in 0.3s;
     &:hover
  {
    border-bottom: 1px solid orange;
  }
}
.toggle:checked ~ nav ul
{
  left: 0;
}
.img
{
  margin-top: 60px;
  width: 100vw;
  height: auto;
}
@media only screen and (min-width: 768px){
 nav
 {
     all: unset;
 }
    nav ul
     {
       all: unset;
       position: fixed;
       display: flex;
       right: 0;
     }
   nav li
     {
       all: unset;
       padding: 2vw;
     }
   
     
    .burger
     {
       display: none;
     }
   }
